In [7]:
import pandas as pd
import seaborn as sea

In [5]:
dati_nazione = pd.read_csv('data/dati-andamento-nazionale/dpc-covid19-ita-andamento-nazionale.csv', sep=',', header=None)
dati_regioni = pd.read_csv('data/dati-regioni/dpc-covid19-ita-regioni.csv', sep=',', header=None)
dati_province = pd.read_csv('data/dati-province/dpc-covid19-ita-province.csv', sep=',', header=None)

In [6]:
dati_nazione

,0,1,2,3,4,5,6,7,8,9,10,11
0,data,stato,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_attualmente_positivi,nuovi_attualmente_positivi,dimessi_guariti,deceduti,totale_casi,tamponi
1,2020-02-24 18:00:00,ITA,101,26,127,94,221,221,1,7,229,4324
2,2020-02-25 18:00:00,ITA,114,35,150,162,311,90,1,10,322,8623
3,2020-02-26 18:00:00,ITA,128,36,164,221,385,74,3,12,400,9587
4,2020-02-27 18:00:00,ITA,248,56,304,284,588,203,45,17,650,12014
5,2020-02-28 18:00:00,ITA,345,64,409,412,821,233,46,21,888,15695
6,2020-02-29 18:00:00,ITA,401,105,506,543,1049,228,50,29,1128,18661
7,2020-03-01 18:00:00,ITA,639,140,779,798,1577,528,83,34,1694,21127
8,2020-03-02 18:00:00,ITA,742,166,908,927,1835,258,149,52,2036,23345
9,2020-03-03 18:00:00,ITA,1034,229,1263,1000,2263,428,160,79,2502,25856
10,2020-03-04 18:00:00,ITA,1346,295,1641,1065,2706,443,276,107,3089,29837
11,2020-03-05 18:00:00,ITA,1790,351,2141,1155,3296,590,414,148,3858,32362
12,2020-03-06 18:00:00,ITA,2394,462,2856,1060,3916,620,523,197,4636,36359
13,2020-03-07 18:00:00,ITA,2651,567,3218,1843,5061,1145,589,233,5883,42062
14,2020-03-08 18:00:00,ITA,3557,650,4207,2180,6387,1326,622,366,7375,49937

In [8]:
import plotly.express as px
df = px.data.gapminder()
#fig = px.scatter_geo(df, locations="iso_alpha", color="continent",
#                     hover_name="country", size="pop",
#                     animation_frame="year",
#                     projection="natural earth")
#fig.show()

ModuleNotFoundError: No module named 'plotly'